Pozdravljeni,

<br>

<p>
  Pošiljam vam predogled vaših popravkov za klub <%= link_to @klub.name, @klub.spa_url %>:
  <br>

  <dl>

  <% @updates.each do |update| %>
    <% unless ['latitude', 'longitude', 'marked_for_deletion', 'town', 'address'].include? update.field  %>
      <dt><%= Klub.human_attribute_name(update.field) %>:</dt>
      <dd><%= update.newvalue %></dd>
    <% end %>
  <% end %>

  <dt><%= Klub.human_attribute_name('address') %>:</dt>

  <% @branches.each do |branch| %>
    <% if @updates.find{ |update| update.updatable == branch && update.field == 'marked_for_deletion' } %>
      <dd><strike><%= branch.address %></strike></dd>
    <% elsif branch.verified == false && !@updates.find{ |update| update.updatable == branch && update.field == 'marked_for_deletion' } %>
      <dd>Novo: <%= branch.address %></dd>
    <% elsif @updates.find{ |update| update.updatable == branch && update.field == 'address' } %>
      <dd>Posodobljeno: <%= @updates.find{ |update| update.updatable == branch && update.field == 'address' }.newvalue %></dd>
    <% else %>
      <dd><%= branch.address %></dd>
    <% end %>
  <% end %>
</p>

<p>Vaše spremembe bomo pregledali in nato posodobili podatke na <%= link_to "spletni strani", @klub.spa_url %>.</p>

<p>Najlepša hvala za predloge popravkov ✌(-‿-)✌!</p>

<p>
  <small>Niste vi poslali zgornje popravke na klubi.si? Če tega niste storili vi, se vam opravičujem. Nekdo je na spletni strani vnesel vaš e-poštni naslov.</small>
</p>

Lep pozdrav, <br>
<%= render partial: 'shared/default_email_signature' %>
