Pozdravljeni, <br>

<p>
  zanima me, če so sledeči podatki za klub <em><%= @klub.name %></em> pravilni: <br>

  <%= render partial: 'klub_attributes', locals: { klub: @klub } %>
</p>

<p>Vabim vas, da podatke uredite in dopolnite s klikom na povezavo: <mark><b><%= link_to 'Uredite podatke!', @klub.spa_edit_url %></b></mark>. Vzelo vam bo samo 1 minuto!
</p>

<p>Klub <em><%= @klub.name %></em> je objavljen na <%= link_to 'www.klubi.si', @klub.spa_url %>, največjim portalom športnih klubov v Sloveniji. S tem, da popravite morebitne napake v podatkih omogočate obiskovalcem spletnega portala, da lažje najdejo in obiščejo klub!</p>


Najlepša hvala in lep pozdrav, <br>
<%= render partial: 'signature' %>

